@use "../base";

.menu {
  min-width: 250px;
  width: 35%;
  z-index: 1;
  //   height: 250px;
  .avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    .content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      span {
        padding-left: 10px;
      }
    }
    .logout {
      img {
        cursor: pointer;
        width: 25px;
        height: 25px;
      }
    }
  }
  .head {
    background-color: base.$themeGray;
    padding: 25px;
    border-bottom: 1px solid base.$themeDarkGray;

    .back {
      transition: 0.5s ease;
      position: absolute;
      right: 15px;
      top: 15px;
      border: none;
      background: none;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
      img {
        width: 25px;
      }
    }
  }
  .avatarImg {
    @include base.avatar;
  }

  .search {
    .input-group {
      width: 100%;
      margin-bottom: 10px;

      span {
        position: absolute;
        padding: 8px 10px;
        min-width: 50px;
        border-radius: 20px;
        // text-align: center;
      }

      input {
        width: 90%;
        padding: 10px;
        padding-left: 35px;
        // text-align: center;
        border: none;
        border: 1px solid base.$themeBlue;
        border-radius: 20px;
      }
    }
  }

  .chats {
    // margin: 25px;
    width: auto;
    height: auto;
    background-color: base.$themeWhite;
    cursor: pointer;
    a{
      text-decoration: none;

    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
    }
    }
    .chatsHeader {
      color: base.$themeBlue;
      margin: 0;
      padding: 10px;
      margin-bottom: 25px;
    }

    .chat {
      transition: 0.1s ease;
      &:hover,&.active {
        background-color: base.$themeGray;
      }
      
      .time {
        padding-right: 5px;
      }
      .messageSection {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        * {
          padding: 0 10px;
        }
        .text {
          .message {
            color: base.$incomeMessage;
          }
          p {
            margin: 0;
          }
        }
      }
      border-bottom: 1px solid base.$themeDarkGray;
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0;
      .avatarImg {
        @include base.avatar($size: 50px);
        margin: 0;
      }
    }
  }
}

@keyframes show {
  from {
    position: absolute;
    display: block !important;
    left: -70%;
  }
  to {
    left: 0px;
    border-right: 1px solid base.$incomeMessage;
  }
}

@keyframes hide {
  from {
    left: 0px;
  }
  to {
    box-shadow: none;

    position: absolute;
    display: none !important;
    left: -70%;
  }
}

.showMenu {
  @include base.showHideMenu;
}
.hideMenu {
  @include base.showHideMenu($status: hide);
}
