@use "base";

.menu {
  min-width: 250px;
  width: 35%;
  
  //   height: 250px;

  .head {
    background-color: base.$themeGray;
    padding: 25px;
    border-bottom: 1px solid base.$themeDarkGray;

  }
  .avatarImg {
    @include base.avatar;
  }

  .search {
    .input-group {
      width: 100%;
      margin-bottom: 10px;

      span {
        position: absolute;
        padding: 8px 10px;
        min-width: 50px;
        border-radius: 20px;
        // text-align: center;
      }

      input {
        width: 90%;
        padding: 10px;
        padding-left: 35px;
        // text-align: center;
        border: none;
        border: 1px solid base.$themeBlue;
        border-radius: 20px;
      }
    }
  }

  .chats {
    // margin: 25px;
    width: auto;
    height: 500px;
    background-color: base.$themeWhite;

    .chatsHeader {
      color: base.$themeBlue;
      margin: 0;
      padding: 10px;
      margin-bottom: 25px;
    }
    
    .chat {
      transition: .1s ease;
      &:hover{
        background-color: base.$themeGray;
      }
      
      .time{
        padding-right: 5px;
      }
      .messageSection {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        * {
          padding: 0 10px;
        }
        .text {
          .message{
            color: base.$incomeMessage;
          }
          p {
            margin: 0;
          }
        }
      }
      border-bottom: 1px solid base.$themeDarkGray;
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0;
      .avatarImg {
        @include base.avatar($size: 50px);
        margin: 0;
      }
    }
  }
}
